<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <appSettings>
   <add key="serverAddress" value="10.50.201.98" />
   <add key="userName" value="ldapadmin" />
   <add key="password" value="Ld@p@dmin" />
   <add key="termOUs" value="OU=$_Terminated Associates," />
   <add key="intMinusDays" value="-1"/>
   <add key="zavantaHost" value="swopehealth.zavanta.com"/>
   <add key="emailFromAddress" value="josh.deshazer@aos5.com"/>
   <add key="emailFromPassword" value="Password"/>
   <add key="emailToAddress" value="josh.deshazer@aos5.com"/>
   <add key="emailHost" value="smtp.office365.com"/>
   <add key="emailPort" value="587"/>
   <add key="pauseAtCompletion" value="true"/>
 </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>